* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

body > header {
    padding: 20px;
}


#bars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.request-container {
    width: 100%;
}

.bar {
    padding: 10px;
}

.bar, .progress {
    width: 100%;
}

/* Small Bar */
.bar[data-small="true"] {
    border-bottom: 1px solid gainsboro;
}

.bar > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.bar[data-small="true"] .progress {
    height: 10px;
}

.bar[data-small="true"] .progress:last-child {
    border-bottom: none;
}

/* Large Bar */
.bar[data-small="false"] {
    border-bottom: 1px solid black;
}

.bar[data-small="false"] .progress {
    padding: 4px;
}

.progress {
    height: 20px;
    background-color: #ddd;
}

.progress div {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
}


.bar-container {
    border: 1px solid black;
}

small {
    font-size: 0.7rem;
    color: gray;
    width: min-content;
    white-space: nowrap;
}

.bar > div:last-child > small:not(:empty) {
    font-size: 0.65rem;
    margin-top: 5px;
}
